How much Alfred pays for rent each month, as a percentage of the total amount of rent:

In [1]:
(700/(900+1_200+700))*100

25.0

The idea is to give meaningful names so you aren't confuded by what they stand for. 
- They ARE case sensitive. 
- cannot begin with numbers. 
- make them unique. 
- some words cannot be used in variables: break, global, class, continue, false, yield, while, true, return, lambda, not, or, raise, import, from, for, except, as, in, is...
- no spaces between words, no compound words
    - camelCase is best (monthlyExpsensesSandeep)
    - also underscores or snake_case (monthly_expenses_sandeep)

In [2]:
## you can assign values like this: 

alfred_monthly_23 = 900
fatima_monthly_23 = 1_200
trina_monthly_23 = 700

In [3]:
## or like this:

alfred_m, fatima_m, trina_m = 900, 1_200, 700

In [4]:
alfred_m

900

In [5]:
fatima_monthly_23

1200

In [6]:
fatima_m

1200

In [7]:
fatima_monthly_23

1200

In [8]:
## calculate trina's share using variables
(trina_monthly_23/(alfred_m+fatima_m+trina_m))*100

25.0

In [9]:
trina_monthly_23/(alfred_m+fatima_m+trina_m)*100

25.0

In [10]:
## place result into a variable 
trina_share_23 = (trina_monthly_23/(alfred_m+fatima_m+trina_m))*100

In [11]:
trina_share_23

25.0

In [13]:
## easier to read: 
trina_share_23 = \
trina_monthly_23/(alfred_m+\
                  fatima_m+\
                  trina_m))*100

SyntaxError: unmatched ')' (1927723337.py, line 5)

In [ ]:
## print function

print("hello word")

f-string literals (or f-strings)
print(f"some identifier words: {actual_variable}")

In [16]:
## print variables
print(f"Trina's rent: ${trina_monthly_23}")
print(f"Trina pays {trina_share_23} percent of the total rent")

Trina's rent: $700
Trina pays 25.0 percent of the total rent

In [20]:
## f-strings also do calculations:

print(f"The total monthly rent is:\
${alfred_monthly_23+fatima_monthly_23+trina_monthly_23:,}")

The total monthly rent is:$2,800